ul.no-style {
  list-style: none;
  list-style-type: none;
}

ul.no-style li {
  display: inline-block;
  padding: 5px;
}

div.nav div {
  display: inline-block;
}

div.nav-end {
  display: block !important;
  float: right;
}

ul li a {
  color: #000;
  text-decoration: none;
}

.hidden {
  display: none;
}