* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}

div.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

ul.no-style {
  list-style-type: none;
}

div.nav-body{
  margin-bottom: 50%;
}

div.nav-body ul li {
  display: flex;
  margin: 5px 0;
  height: 45px;
  align-items: center;
  padding-left: 10px;
  border-top: 0.2px solid rgb(49, 49, 49);
}

div.nav-body ul li:nth-child(odd):hover {
  background: rgb(24, 24, 24);
}

div.news {
  margin: 20px;
  padding: 4px;
  line-height: 23px;
  word-spacing: 1.6px;
  letter-spacing: 0.08rem;
}

form {
  margin: 24px 24px 10px 24px;
  padding: 4px;
}

div.res-p {
  position: relative;
  left: 3px;
  color: whitesmoke;
}

div.nav-body ul li:nth-child(even):hover {
  background: #222222;
}

div.nav-end {
  display: block;
}
div.nav-end ul li {
  display: flex;
  height: 43px;
  margin: 5px 0 0 0;
  padding-left: 10px;
  border-top: 1px solid rgb(49, 49, 49);
}

div.nav-end ul li:hover {
  background: rgb(75, 75, 75);
}

li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

div.footer{
  background-color: rgb(41, 41, 41);
  margin-top: auto;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 86vw;
  transform: translateX(-5px);
  height: 8%;
}

ul.horizontal li{
  margin: 10px;
  display: inline-flex;
  align-items: center;
}

div.nav {
  background-color: rgb(41, 41, 41);
  display: block;
  padding: 5px;
  height: 100%;
  color: #fff;
}

div.title {
  font-weight: 400;
  font-size: 3em;
}

div.body {
  margin: 0 5px;
}

body.body {
  margin: auto;
}

input{
  height: 40px;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 5px;
  outline: none;
  padding: 5px;
  box-shadow: 0.2px 0.4px 0.6px rgb(10,10,10);
}
button[type=submit]{
  height: 40px;
  border: 1px solid rgb(49, 49, 49);
  box-shadow: 1px 0.5px 1.5px rgb(0,0,0);
  padding: 10px;
  border-radius: 5px;
  min-width: 40px;
  background-color: rgb(49, 134, 204);
  color: #fff;
}

.q-point{
  margin: 0 auto;
  width: 95%;
  /* border: 1px dotted rgb(41, 41, 41); */
  /* background: linear-gradient(indigo, purple); */
  /* border-radius: 20px; */
  /* -webkit-border-radius: 20px; */
  /* -moz-border-radius: 20px; */
  /* -ms-border-radius: 20px; */
  /* -o-border-radius: 20px; */
}

.q-point input{
  width: 70%;
  box-shadow: 1px 0.5px 1.5px rgb(0,0,0);
}
.q-point button{
  width: 20%;
  margin: 1px auto;
}